<Project>
  <PropertyGroup>
    <PublishAot>true</PublishAot>
    <PublishSingleFile>true</PublishSingleFile>
    <SelfContained>true</SelfContained>
    <PublishTrimmed>true</PublishTrimmed>
    <DebugType>embedded</DebugType>
    <IlcOptimizationPreference>Speed</IlcOptimizationPreference>
    <IlcGenerateStackTraceData>false</IlcGenerateStackTraceData>
    <IlcTrimMetadata>trim</IlcTrimMetadata>
    <EnableUnsafeBinaryFormatterSerialization>false</EnableUnsafeBinaryFormatterSerialization>
    <LinkerFlavor>gold</LinkerFlavor>
  </PropertyGroup>
</Project>
